uvicorn
pydantic
Levenshtein
fastapi
transformers>=4.38.0
setuptools
soundfile
nltk
whisperx
pyannote.audio
torch
torchvision
librosa
ffmpeg-python
openai-whisper
ctranslate2[cuda11x]
librosa
indic-transliteration
sentencepiece
